{% extends "base.html" %}

{% block content %}
<div><font size=10>Интернет-магазин игр MyGame</font></div>
<div><font size=5>это проект, созданный в рамках образовательного курса
    "Основы промышленного программирования" Лицея Академии Яндекса.</font></div>
<div><font size=5>Создатели проекта: Климов Фёдор, Швецов Егор, Скребнев Дмитрий.</font></div>
<div><font size=5>Целью нашего сайта является предоставление начинающим разработчикам
    возможности выкладывать свои игры,
    а остальным пользователям возможности эти игры покупать.</font></div>
{% endblock %}
